doctype html
html(lang="en")
	head
		title AngularJS Charts by Robin Hu
		script(src='../bower_components/d3/d3.js')
		script(src='../bower_components/angular/angular.js')
	body
		h1 My Chart 

		rh-line-chart#lineChart
